/* Style sheet for Landing Page */

body {
    margin: 0;
    padding: 0;
}

/* Header-Menu */

.header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #1F2937;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

/* Header Block */

.hero-block {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.hero-sign-up {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
}

.hero-main-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.btn_hero-sign-up {
    flex: 1;
    background-color: #3882F6;
    color: white;
    width: 80px;
    height: 30px;
}

.hero-block-image {
    background-color: grey;
    width: 500px;
}

/* Feature section */

.feature-section {
    display: flex;
    flex-flow: column wrap;
    font-size: 30px;
    font-weight: bold;
}

.feature-info-header {
    text-align: center;
}

.feature-images-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

ul.feature-images {
    display: flex;
}

li.feature-images {
    display: flex;
    border-style: solid;
    border-color: #3882F6;
    border-width: 4px;
    width: 200px;
    height: 200px;
}

.feature-items-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

p.feature-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: grey;
    width: 200px;
    text-align: center;
}

/* Quote section */

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-item {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
}

/* Sign up section */

.sign-up {
    display: flex;
    justify-content: center;
    padding: 75px;
    margin: 0;
}

.sign-up_text_block {
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    background-color: #3882F6;
    color: white;
    padding: 50px;
}

.sign-up_main-text {
    font-weight: bold;
    font-size: 24px;
}

.sign-up_secondary-text {
    font-size: 14px;
}

.btn_sign-up_block {
    display: flex;
    flex-shrink: 0;
    background-color: #3882F6;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.btn_sign-up {
    flex: 1;
    background-color: #3882F6;
    color: white;
    width: 80px;
    height: 30px;
    border-color: white;
    border-style: solid;
}

/* Footer section */

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
}