/* Style sheet for Landing Page */

body {
    margin: 0;
    padding: 0;
}

/* Header-Menu Section */

.header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
    background-color: #1F2937;
    padding: 20px 100px;
}

.header {
    flex-shrink: 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

ul.menu {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

li.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

/* Header Section */

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #1F2937;
    padding: 100px;
}

.hero-sign-up {
    display: flex;
    flex-flow: column wrap;
}

.hero-main-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 20px;
}

.btn_hero-sign-up {
    flex: 1;
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    width: 100px;
    padding: 5px 15px;
}

.hero-image {
    display: flex;
    background-color: grey;
    width: 800px;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Feature Section */

.feature-section {
    display: flex;
    flex-flow: column wrap;
    font-size: 30px;
    font-weight: bold;
}

.feature-info-header {
    text-align: center;
}

.feature-images-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

p.feature-images {
    display: flex;
    border-style: solid;
    border-color: #3882F6;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
}

.feature-items-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
}

p.feature-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: grey;
    width: 200px;
    margin: 10px 10px 100px 10px;
    text-align: center;
}

/* Quote section */

.quote-container {
    display: flex;
    flex-flow: column wrap;
    background-color: #E5E7EB;
    align-items: center;
}

p.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 900px;
    margin: 0;
    padding-top: 100px;
}

p.quote-source {
    text-align: end;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    width: 900px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 80px;
}

/* Sign Up Section */

.sign-up_section {
    display: flex;
    justify-content: center;
    padding: 75px;
    margin: 0;
}

.sign-up_text {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    flex-shrink: 0;
    background-color: #3882F6;
    color: white;
    padding: 50px;
    border-style: solid;
    border-color: #3882F6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sign-up_main-text {
    font-weight: bold;
    font-size: 24px;
}

.sign-up_secondary-text {
    font-size: 18px;
}

.btn_sign-up_section {
    display: flex;
    flex: 0 0 auto;
    background-color: #3882F6;
    padding: 50px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #3882F6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn_sign-up {
    flex: 1;
    background-color: #3882F6;
    color: white;
    width: 80px;
    height: 30px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

/* Footer Section */

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
}